{% extends 'master/base.html' %} {% block content %}

<!-- FEATURED CONTENT -->
<div class="container-fluid">
    <!-- main post -->
    <div class="row">
        <div class="col-md-8">
            <br>
            <div class="box-header">
                <h4>Featured</h4>
            </div>
            <a href="{% url 'master:details' featured.slug %}">
                <img class="img-fluid" src="{{ featured.image }}" alt="{{ featured.title }}">
            </a>
            <a href="{% url 'master:details' featured.slug %}" id="title">{{ featured.title }}</a>
            <br>
            <i class="text-muted">
                <strong>Posted : {{ featured.date | timesince }} ago by
                    <span style="color:coral;"> {{ featured.author }} </span>
                </strong>
            </i>
        </div>
        <div class="col-md-4 ">
            <br>
            <div class="box-header">
                <h4>What's new?</h4>
            </div>
            {% for s in sides %}
            <div class="smallcontent">
                <a href="{% url 'master:details' s.slug %}">
                    <img class="img-fluid" src="{{ s.image }}" alt="" id="imga">
                </a>
                <br>
                <a href="{% url 'master:details' s.slug %}" id="title">{{ s.title }}</a>
                <br>
                <i class="text-muted">
                    <strong>Posted : {{ s.date | timesince }} ago by
                        <span style="color:coral;"> {{ s.author }} </span>
                    </strong>
                </i>
            </div>
            <hr> {% endfor %}
        </div>
    </div>
</div>
<hr>
<br>
<div class="container-fluid">
    <!-- full posts -->
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <div class="box-header">
                <h4>Recent Posts</h4>
            </div>
            {% for a in all_posts %}
            <div class="posts">
                <div class="actual-post">
                    <div class="row">
                        <div class="col-md-8">

                            <div class="small-box">
                                {{ a.category }}
                            </div>
                            <a href="{% url 'master:details' slug=a.slug %}" id="title">{{ a.title }}</a>
                            <br>
                            <p>{{ a.description |safe |truncatechars:150 }}
                                <a href="{% url 'master:details' slug=a.slug %}">Read More.</a>
                            </p>
                            <br>
                            <i class="text-muted">
                                <strong>Posted : {{ a.date | timesince }} ago by
                                    <span style="color:coral;"> {{ a.author }} </span>
                                </strong>
                                <br>
                                <strong>Views: {{ a.views }}</strong>
                            </i>
                            <!-- share buttons -->
                            <div class="footer-social-icons">
                                <ul class="social-icons">
                                    <li>
                                        <a href="http://www.facebook.com/sharer/sharer.php?u=http://bibekbhandari.herokuapp.com{% url 'master:details' a.slug %}"
                                            class="social-icon" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/techinov22" class="social-icon" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/bibek-bhandari-419470137/" class="social-icon" target="_blank">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://plus.google.com/113475651357673842065" class="social-icon" target="_blank">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'master:details' a.slug %}">
                                <img class="img-fluid" src="{{ a.image }}" alt="{{ a.title }}" id="imga">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <hr> {% endfor %}
            <!-- test ad uni -->

            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-format="fluid"
                    data-ad-layout-key="-dh-79+c8+jf-135"
                    data-ad-client="ca-pub-9886177219084453"
                    data-ad-slot="1903558163"></ins>
            <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <!-- end of test ads -->
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-header">
                    <h4>Categories</h4>
                </div>
                <div class="box-body">
                    {% for c in catcount %}
                    <div class="content-cat">
                        <a href="{% url 'master:filter' c.cat %}" style="font-family: 'PT Sans', sans-serif">{{ c.cat }} ({{c.num_blog}})</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="archive">
                <div class="box-header">
                    <h4>Archive</h4>
                </div>
                <div class="content-cat">
                    <a href="{% url 'master:archive' '2018' %}">2018</a>
                </div>
                <div class="content-cat">
                    <a href="{% url 'master:archive' '2017' %}">2017</a>
                </div>
                <div class="content-cat">
                    <a href="{% url 'master:archive' '2016' %}">2016</a>
                </div>
                <div class="content-cat">
                    <a href="{% url 'master:archive' '2015' %}">2015</a>
                </div>
                <div class="content-cat">
                    <a href="{% url 'master:archive' '2014' %}">2014</a>
                </div>
            </div>

            <br>
            <!-- twitter feeds -->
            <a class="twitter-timeline" data-width="400" data-height="400" data-theme="light" data-link-color="#E95F28" href="https://twitter.com/onthir13?ref_src=twsrc%5Etfw">Tweets by techinov22</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <!-- end twitter -->
            <br>
            <br>
            <div class="newsletter" style="background:white; padding:8px; border-radius:5px;">
                <div class="box-header">
                    Signup For Newsletter
                </div>
                <form action="" method="get">
                    {% csrf_token %}
                    <div class="form-group">
                        <br>
                        <label for="lab">Full Name</label>
                        <input type="text" class="form-control" name="name">

                        <label for="lab">Email</label>
                        <input type="email" class="form-control" name="email">
                        <br>
                        <div class="text-right">
                            <input type="submit" class="btn btn-md btn-danger" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
            <div class="ad-unit">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- sidebar ads -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-9886177219084453"
                         data-ad-slot="4837553709"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
            </div>
        </div>
    </div>
    <!-- end of full posts -->
</div>
{% endblock %}